<div class="hero-unit">
	<h1>Welcome to AntAlien.Com</h1>
		<p>
			Guaranteed fresh posts all the time!!!
		</p>
		<p>
			<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
		</p>
</div>
